<%- include('partials/header', { userName, arrayOfUsersFollowers, id, doesCurrentUserFollowThisProfile })%>
<link href="../css/profile.header.style.css" rel="stylesheet" type="text/css">

<body>
    <% if (usersSignedURLs.length === 0) { %> 
        <p class="following"><%= id %> doesn't have any photos yet!</p>
    <% } else { %> 
        <% for (var i = 0; i < usersSignedURLs.length; i++) { %>
        <div class="displayImages">
                <div class="images">
                    <img src="<%= usersSignedURLs[i] %>" alt="" height="200px" width="200px">
                </div>
                <form class="likeButton" method="post" action="/like">
                    <input type="hidden" name="photoId" value="<%=sortedPhotos[i].PhotoID%>">
                    <input type="hidden" name="userId" value="<%= sortedPhotos[i].UserID %>">
                    <input type="submit" value="<%= likes[i] %> ♥">
                </form>
            </div>
        </div>
        <% } %>
    <% } %>
</body>